.sidebar {
  flex: 3;
  height: calc(105vh );
  background-color: white;
  position: relative;


}
.card {
  padding: 1.25rem 1.25rem;
}
.profile-pic {
  height: 50px;
  width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cover-pic {
  height: 4rem;
    width: 4rem;
    border-radius: 0.4rem;
    border-width: 3px;
    border: 3px solid rgb(255, 255, 255);
    vertical-align: middle;
    position: relative;
    display: inline-block;
    margin-top: -2rem;
    margin-bottom: 1rem;
}
.profile-card {
  text-align: center;
  position: relative;
}
.card-text {
  margin-top: 0;
    font-size: 1.171875rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    color: #14191e;
}
.textMini {
  font-size: 0.875em;
  font-weight: 400;
  text-align: center;
  text-align: center;
  display: flex;

  color: #98999d;
  justify-content: center;

}
.contentCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.firstCenter {
  text-align: center;
}
.textP {
  margin: 1.5rem !important;
    text-align: center;
    color: #7f8085;
}
.centerNumer {
  font-size: 1.1rem;

}
.centerText {
  font-size: 0.875em;
}
.divider {
  display: inline-block;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    width: 1px;
    min-height: 1em;
    background-color: currentColor;
    opacity: 0.25;
}
.centerDivider {
  margin: 1rem 0;
    color: #a1a1a8;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
    height: 1px;
}
.cardColumn {
  display: flex;
}
.sidebarBottom {
  display: flex;
  -ms-flex-wrap: wrap;
  gap: 2rem;
  flex-wrap: wrap;

  flex-direction: column;
}
.cardColumn i {
  margin-right: 0.5rem 
}
.cardColumn {
  padding-left: 0;
}
.cardColumn a{
  font-size: 14px;
  font-weight: 700;
}
.viewProfileDivider {
  margin: 1rem 0;
    color: #a1a1a8;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
    height: 1px;
}
.viewProfileDividerSpan {
  display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center !important;
    font-size: 0.8125rem;
    padding: 0.4rem 0.8rem;
    font-size: 0.8125rem;
    border-radius: 0.2rem;
    color: #0f6fec;
    background-color: rgba(15, 111, 236, 0.1);
    border: none;
    color: #0f6fec;
}