.rightbar {
  flex: 4;
  background-color: #eff2f6;
  padding: 20px;
}
.rightbarWrapper {
  padding: 20px 20px 10px 15px;
  position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 0.4rem;
}
.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.birthdayText {
  font-weight: 300;
  font-size: 15px;
}
.birthdayContainer {
  display: flex;
  align-items: center;
}

.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}
.rightbarTitle {
  margin-bottom: 30px;
}
.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.rightbarFriend {
  display: flex;
  align-items: center;
margin-bottom: 15px;

}
.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.rightbarOnline {
  width: 12px;
  height: 12px;
  border-radius: 50%;
 background-color: limegreen;
 position: absolute;
 top: -2px;
 right: 0;
 border: 2px solid white;
}
.rightbarUsername {
  font-weight: 500;
}

.rightbarTitle {
  font-size: 18px;
  font-weight: 700;

}

.rightbarInf {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  gap: 2.5rem;
}
.rightbarInfoItem {
  margin-bottom: 10px;
}
.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
.rightbarInfoKey {
  font-weight: 500;
  color: black;
  margin-right: 15px;
}
.rightbarInfoValue {
  font-weight: 300;
  
  color: gray;
}
.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rightbarFollowing {
  display: flex;
  flex-direction: column;
}
.rightbarAddArea {
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: rgba(15, 111, 236, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewProfileButton {
  padding: 0.4rem 0.8rem;
  font-size: 0.8125rem;
  border-radius: 0.2rem;
  color: #0f6fec;
  background-color: rgba(15, 111, 236, 0.1);
  border: none;
}
.rightbarViews {
  padding: 20px 20px 10px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 0.4rem;
}
.cardHeader {
  display: flex;
    margin-top: 0;
    margin-bottom: 1.0rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    color: #14191e;
    font-size: 24px;
}
.cardDescription {
  font-size: 0.9375rem;
  margin-bottom: 20px;
}
.date {
  font-size: 0.875em;
    color: #767171;
}
.rightbarWrapper {
  margin-bottom: 20px;
}
.cardDescription {
font-size: 23px;
}
.date {
  font-size: 14px;
}
.spinner {
  background-color: #75757b;
  display: inline-block;
  height: 4px;
  margin: 2px;
  border-radius: 50%;
  width: 4px;
}
.spinner-dot {

  margin-right: 0.5rem !important;
}
.cardDot {
display: flex;
font-size: 14px;
}